<section class="reviews" id="reviews">
    <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box img-1">
                <div class="image"></div> <!-- Placeholder for image -->
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis optio dignissimos eaque aliquid explicabo.</p>
            </div>
            <div class="swiper-slide box img-2">
                <div class="image"></div> <!-- Placeholder for image -->
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis optio dignissimos eaque aliquid explicabo.</p>
            </div>
            <div class="swiper-slide box img-3">
                <div class="image"></div> <!-- Placeholder for image -->
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis optio dignissimos eaque aliquid explicabo.</p>
            </div>
            <div class="swiper-slide box img-4">
                <div class="image"></div> <!-- Placeholder for image -->
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis optio dignissimos eaque aliquid explicabo.</p>
            </div>
            <div class="swiper-slide box img-5">
                <div class="image"></div> <!-- Placeholder for image -->
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis optio dignissimos eaque aliquid explicabo.</p>
            </div>
            <div class="swiper-slide box img-6">
                <div class="image"></div> <!-- Placeholder for image -->
                <h3>john deo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates blanditiis optio dignissimos eaque aliquid explicabo.</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
